/* color palette from <https://github.com/vuejs/theme> */
:root {
  --colorOrange: #E3735E;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1em;
}
